<% name_attribute = attributes.find{ |a| a.name == "name" } %>
<% has_name = !!name_attribute %>
<div class="flex flex-wrap items-center justify-between">
  <div class="w-full lg:w-1/2">
    <h1 class="text-2xl"><%= plural_table_name.capitalize %></h1>
  </div>

  <div class="w-full lg:w-1/2 lg:text-right">
    <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-default' do %>
      Add New <%= human_name %>
    <%% end %>
  </div>
</div>

<table class="w-full max-w-full mb-1 bg-transparent border-collapse">
  <thead>
    <tr>
      <% if has_name %>
        <th class="border-2">Name</th>
      <% end %>

      <% attributes.without(name_attribute).each do |attribute| -%>
        <th class="border-2"><%= attribute.human_name %></th>
      <% end -%>
      <% unless has_name %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name%>.each do |<%= singular_table_name %>| %>
      <%%= content_tag :tr, id: dom_id(<%= singular_table_name %>), class: dom_class(<%= singular_table_name %>) do %>
        <% if has_name %>
          <td class="border-2"><%%= link_to <%= singular_table_name %>.name, <%= singular_table_name %>, class: "btn btn-link" %></td>
        <% end %>

        <% attributes.without(name_attribute).each do |attribute| -%>
          <td class="border-2">
            <%% if <%= singular_table_name.classify %>.reflect_on_all_associations(:belongs_to).map{|e| e.name}.include?(:<%= attribute.name %>) %>
            <%%= link_to <%= singular_table_name %>.try(:<%= attribute.name %>).short_name, <%= singular_table_name %>.try(:<%= attribute.name %>),class: "btn btn-link"  %>
            <%% else %>
            <%%= <%= singular_table_name %>.<%= attribute.name %> %>
            <%% end %>
          </td>
        <% end -%>

        <% unless has_name %>
          <td><%%= link_to 'Show', <%= singular_table_name %> %></td>
        <% end %>
        <%% end %>
        <%% end %>
      </tbody>
    </table>


